//Primary colors

//Scissors gradient - background: linear-gradient(45deg, $scissors1, $scissors2);
$scissors1: hsl(39, 89%, 49%);
$scissors2: hsl(40, 84%, 53%);

//Paper gradient
$paper1: hsl(230, 89%, 62%);
$paper2: hsl(230, 89%, 65%);

//Rock gradient 
$rock1: hsl(349, 71%, 52%);
$rock2: hsl(349, 70%, 56%);

//Lizard gradient
$lizard1: hsl(261, 73%, 60%);
$lizard2: hsl(261, 72%, 63%);

//Cyan gradient
$cyan1: hsl(189, 59%, 53%);
$cyan2: hsl(189, 58%, 57%);


//Neutral colors
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

//Background gradient
$background1: hsl(214, 47%, 23%);
$background2: hsl(237, 49%, 15%);


//Mixin breakpoints for media queries
$desktop: 1366px;
@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

$mobile: 375px;
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

