@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
.board {
  width: 50rem;
  height: 12rem;
  border: 2px solid gray;
  border-radius: 15px;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board .board__text {
  width: 60%;
  height: 85%;
  margin: 2rem;
}

.board .board__text p {
  margin: 0;
  text-transform: uppercase;
  color: white;
  font-size: 2.3rem;
  line-height: 2rem;
}

.board .board__scoreboard {
  width: 40%;
  height: 80%;
  background-color: white;
  border-radius: 15px;
  margin: 2rem;
}

.board .board__scoreboard .board__title {
  text-transform: uppercase;
  text-align: center;
  color: #2a46c0;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.board .board__scoreboard .board__score {
  font-size: 6rem;
  margin-top: -2rem;
  text-align: center;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#1f3756, #141539);
}

.choices {
  width: 300px;
  height: 300px;
  margin-top: 8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choices .choices__pentagon {
  position: absolute;
  left: 0;
  top: 0;
}

.choices .choices__scissors {
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 100px;
  position: absolute;
  top: -4rem;
}

.choices .choices__scissors .scissors__main {
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  border-top: 10px solid #b3b3b3;
}

.choices .choices__scissors .scissors__border {
  width: 180px;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(to bottom, #ec9e0e, #eca922);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid rgba(137, 89, 1, 0.719);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
/*# sourceMappingURL=styles.css.map */