@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
.board {
  width: 50rem;
  height: 12rem;
  border: 2px solid gray;
  border-radius: 15px;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board .board__text {
  width: 60%;
  height: 85%;
  margin: 2rem;
}

.board .board__text p {
  margin: 0;
  text-transform: uppercase;
  color: white;
  font-size: 2.3rem;
  line-height: 2rem;
}

.board .board__scoreboard {
  width: 40%;
  height: 80%;
  background-color: white;
  border-radius: 15px;
  margin: 2rem;
}

.board .board__scoreboard .board__title {
  text-transform: uppercase;
  text-align: center;
  color: #2a46c0;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.board .board__scoreboard .board__score {
  font-size: 6rem;
  margin-top: -2rem;
  text-align: center;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#1f3756, #141539);
}

.choices {
  width: 25rem;
  height: 25rem;
  margin-top: 8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choices .choices__pentagon {
  position: absolute;
  left: 0;
  top: 0;
}

.choices .choices__play {
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 100px;
  position: absolute;
}

.choices .choices__play .choices__background {
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  border-top: 10px solid #b3b3b3;
}

.choices .scissors__border {
  width: 180px;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(to bottom, #ec9e0e, #eca922);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid rgba(137, 89, 1, 0.719);
}

.choices .paper__border {
  width: 180px;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(to bottom, #4865f4, #5671f5);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid rgba(25, 47, 161, 0.767);
}

.choices .spock__border {
  width: 180px;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#40b9ce), to(#52bed1));
  background: linear-gradient(to bottom, #40b9ce, #52bed1);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid rgba(32, 113, 126, 0.815);
}

.choices .lizard__border {
  width: 180px;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#834fe3), to(#8c5de5));
  background: linear-gradient(to bottom, #834fe3, #8c5de5);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid #4c288f;
}

.choices .rock__border {
  width: 180px;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(to bottom, #dc2e4e, #dd405d);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid #781729;
}

.rules {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: 12px;
  position: absolute;
  top: 90%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
/*# sourceMappingURL=styles.css.map */