/* @font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/public/fonts/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfp66_B2sl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/public/fonts/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfw6-_B2sl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */
.board {
  width: 50rem;
  height: 12rem;
  border: 2px solid gray;
  border-radius: 15px;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 450px) {
  .board {
    width: 22rem;
  }
}

.board .board__text {
  width: 60%;
  height: 85%;
  margin: 2rem;
}

.board .board__text p {
  margin: 0;
  text-transform: uppercase;
  color: white;
  font-size: 2.3rem;
  line-height: 2rem;
}

.board .board__scoreboard {
  width: 14rem;
  height: 80%;
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 450px) {
  .board .board__scoreboard {
    width: 10rem;
    margin-right: 1rem;
  }
}

.board .board__scoreboard .board__title {
  text-transform: uppercase;
  color: #2a46c0;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 600;
  position: absolute;
  top: 10%;
}

@media (max-width: 450px) {
  .board .board__scoreboard .board__title {
    font-size: 1.4rem;
  }
}

.board .board__scoreboard .board__score {
  font-size: 6rem;
  margin: 0;
  position: absolute;
  bottom: -5%;
}

@media (max-width: 450px) {
  .board .board__scoreboard .board__score {
    font-size: 5rem;
    margin-top: -1rem;
  }
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#1f3756, #141539);
}

.choices {
  width: 25rem;
  height: 25rem;
  margin-top: 8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 450px) {
  .choices {
    width: 13rem;
    height: 13rem;
    margin-top: 8rem;
  }
}

.choices .choices__pentagon {
  position: absolute;
  left: 0;
  top: 0;
}

.choices .choices__play {
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 100px;
  position: absolute;
}

@media (max-width: 450px) {
  .choices .choices__play {
    width: 135px;
    height: 135px;
  }
}

@media (max-height: 780px) {
  .choices .choices__play {
    width: 115px;
    height: 115px;
  }
}

.choices .choices__play .choices__background {
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  border-top: 10px solid #b3b3b3;
}

@media (max-width: 450px) {
  .choices .choices__play .choices__background {
    width: 105px;
    height: 105px;
  }
}

@media (max-height: 780px) {
  .choices .choices__play .choices__background {
    width: 85px;
    height: 85px;
  }
}

.choices .scissors__border {
  width: 180px;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(to bottom, #ec9e0e, #eca922);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid rgba(137, 89, 1, 0.719);
}

@media (max-width: 450px) {
  .choices .scissors__border {
    width: 135px;
    height: 135px;
  }
}

@media (max-height: 780px) {
  .choices .scissors__border {
    width: 115px;
    height: 115px;
  }
}

.choices .paper__border {
  width: 180px;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(to bottom, #4865f4, #5671f5);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid rgba(25, 47, 161, 0.767);
}

@media (max-width: 450px) {
  .choices .paper__border {
    width: 135px;
    height: 135px;
  }
}

@media (max-height: 780px) {
  .choices .paper__border {
    width: 115px;
    height: 115px;
  }
}

.choices .spock__border {
  width: 180px;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#40b9ce), to(#52bed1));
  background: linear-gradient(to bottom, #40b9ce, #52bed1);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid rgba(32, 113, 126, 0.815);
}

@media (max-width: 450px) {
  .choices .spock__border {
    width: 135px;
    height: 135px;
  }
}

@media (max-height: 780px) {
  .choices .spock__border {
    width: 115px;
    height: 115px;
  }
}

.choices .lizard__border {
  width: 180px;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#834fe3), to(#8c5de5));
  background: linear-gradient(to bottom, #834fe3, #8c5de5);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid #4c288f;
}

@media (max-width: 450px) {
  .choices .lizard__border {
    width: 135px;
    height: 135px;
  }
}

@media (max-height: 780px) {
  .choices .lizard__border {
    width: 115px;
    height: 115px;
  }
}

.choices .rock__border {
  width: 180px;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(to bottom, #dc2e4e, #dd405d);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid #781729;
}

@media (max-width: 450px) {
  .choices .rock__border {
    width: 135px;
    height: 135px;
  }
}

@media (max-height: 780px) {
  .choices .rock__border {
    width: 115px;
    height: 115px;
  }
}

@media (max-width: 450px) {
  .paper {
    margin-top: -3rem;
    margin-right: 2rem;
  }
}

@media (max-width: 450px) {
  .spock {
    margin-top: -3rem;
    margin-left: 2rem;
  }
}

@media (max-width: 450px) {
  .lizard {
    margin-top: -8rem;
    margin-left: -1.5rem;
  }
}

@media (max-width: 450px) {
  .rock {
    margin-top: -8rem;
    margin-right: -1.5rem;
  }
}

.rules__wrapper {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 3%;
}

@media (max-width: 450px) {
  .rules__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.rules__wrapper .rules {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  position: absolute;
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 450px) {
  .rules__wrapper .rules {
    margin-right: 0;
  }
}

.fight {
  height: 30rem;
  width: 40%;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
}

@-webkit-keyframes slide {
  40% {
    width: 40%;
  }
  100% {
    width: 100%;
  }
}

@keyframes slide {
  40% {
    width: 40%;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .fight {
    margin-top: 2rem;
  }
}

.fight .fight__choice {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 450px) {
  .fight .fight__choice {
    width: 20%;
    margin: 80px;
  }
}

.fight .fight__choice .fight__title {
  color: white;
  font-size: 3rem;
  margin-bottom: 28rem;
  text-transform: uppercase;
}

@media (max-width: 450px) {
  .fight .fight__choice .fight__title {
    font-size: 2rem;
    margin-bottom: 20rem;
    text-align: center;
  }
}

.fight .fight__choice .scissors__border {
  width: 250px;
  height: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(to bottom, #ec9e0e, #eca922);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid rgba(137, 89, 1, 0.719);
}

@media (max-width: 450px) {
  .fight .fight__choice .scissors__border {
    width: 135px;
    height: 135px;
  }
}

.fight .fight__choice .paper__border {
  width: 250px;
  height: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(to bottom, #4865f4, #5671f5);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid rgba(25, 47, 161, 0.767);
}

@media (max-width: 450px) {
  .fight .fight__choice .paper__border {
    width: 135px;
    height: 135px;
  }
}

.fight .fight__choice .spock__border {
  width: 250px;
  height: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#40b9ce), to(#52bed1));
  background: linear-gradient(to bottom, #40b9ce, #52bed1);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid rgba(32, 113, 126, 0.815);
}

@media (max-width: 450px) {
  .fight .fight__choice .spock__border {
    width: 135px;
    height: 135px;
  }
}

.fight .fight__choice .lizard__border {
  width: 250px;
  height: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#834fe3), to(#8c5de5));
  background: linear-gradient(to bottom, #834fe3, #8c5de5);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid #4c288f;
}

@media (max-width: 450px) {
  .fight .fight__choice .lizard__border {
    width: 135px;
    height: 135px;
  }
}

.fight .fight__choice .rock__border {
  width: 250px;
  height: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(to bottom, #dc2e4e, #dd405d);
  border-radius: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 8px solid #781729;
}

@media (max-width: 450px) {
  .fight .fight__choice .rock__border {
    width: 135px;
    height: 135px;
  }
}

.fight .fight__result {
  width: 25%;
  height: 15rem;
  position: absolute;
  left: 40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 450px) {
  .fight .fight__result {
    margin-top: 5rem;
    height: 10rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.fight .fight__result .result__title {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 450px) {
  .fight .fight__result .result__title {
    font-size: 2rem;
  }
}

.fight .fight__result .result__button {
  background-color: white;
  color: black;
  text-transform: uppercase;
  border: none;
  width: 12rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.fight__play {
  width: 240px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  position: absolute;
}

@media (max-width: 450px) {
  .fight__play {
    width: 135px;
    height: 135px;
  }
}

.choices__background {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  border-top: 10px solid #b3b3b3;
}

@media (max-width: 450px) {
  .choices__background {
    width: 105px;
    height: 105px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif !important;
}
/*# sourceMappingURL=styles.css.map */